<div class="container">
    <div class="animated fadeIn divider-top">
        <div class="row">
            <div class="col-sm-12 col-md-12 p-mobile-0">
                <div class="card card-accent-primary">
                    <div class="card-header account-detail-head"> Account Details </div>
                    <div class="card-body account-detail-body">
                        <div class="bd-example">
                            <dl class="row">
                                <dt class="col-sm-3">Name</dt>
                                <dd class="col-sm-9">Sd</dd>
                                <dt class="col-sm-3">Commission</dt>
                                <dd class="col-sm-9"> 0 </dd>
                                <dt class="col-sm-3">Rolling Commission</dt>
                                <dd class="col-sm-9"><a (click)="openRollingCommissionModal(rollingCommissionModal)"><i
                                            class="fa fa-eye fa-lg"></i></a></dd>
                                <dt class="col-sm-3">Exposure Limit</dt>
                                <dd class="col-sm-9"> 10000000 </dd>
                                <dt class="col-sm-3">Mobile Number</dt>
                                <dd class="col-sm-9"> 9999999999 </dd>
                                <dt class="col-sm-3">Currency</dt>
                                <dd class="col-sm-9"> IR </dd>
                                <dt class="col-sm-3">Password</dt>
                                <dd class="col-sm-9"><span class="mr-3">*********</span><a class="edit-password"
                                        (click)="openChangePasswordModal(changePasswordModal)"> Edit
                                        <i class="fa fa-pencil-square-o fa-lg"></i></a></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #rollingCommissionModal let-modal>
    <div class="modal-header account-detail-head">
        <h5 class="modal-title">Rolling Commission</h5>
        <button type="button" class="btn-close close" aria-label="Close" (click)="modal.dismiss()">&times;</button>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            <div class="view-rolling row"><label class="col-md-2 col-3 col-form-label">Fancy</label>
                <div class="col-md-8 col-8 col-form-label"><span> 0</span></div>
            </div>
            <div class="view-rolling row"><label class="col-md-2 col-3 col-form-label">Matka</label>
                <div class="col-md-8 col-8 col-form-label"><span> 0</span></div>
            </div>
            <div class="view-rolling row"><label class="col-md-2 col-3 col-form-label">Casino</label>
                <div class="col-md-8 col-8 col-form-label"><span> 0</span></div>
            </div>
            <div class="view-rolling row"><label class="col-md-2 col-3 col-form-label">Binary</label>
                <div class="col-md-8 col-8 col-form-label"><span> 0</span></div>
            </div>
            <div class="view-rolling row"><label class="col-md-2 col-3 col-form-label">Sportbook</label>
                <div class="col-md-8 col-8 col-form-label"><span> 0</span></div>
            </div>
            <div class="view-rolling row"><label class="col-md-2 col-3 col-form-label">Bookmaker</label>
                <div class="col-md-8 col-8 col-form-label"><span> 0</span></div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #changePasswordModal let-modal>
    <form [formGroup]="changePasswordForm" method="post" role="form" (ngSubmit)="formSubmit()">
        <div class="modal-header account-detail-head">
            <h5 class="modal-title">Change Password</h5>
            <button type="button" class="btn-close close" aria-label="Close" (click)="modal.dismiss()">&times;</button>
        </div>
        <div class="modal-body row">
            <div class="col-md-6">
                <div class="form-group"><label for="oldPassword">Old Password <span
                            class="asterisk_input"></span></label><input class="form-control"
                        formControlName="oldPassword" placeholder="Old Password.." type="password">
                        <div class="form-control-feedback" *ngIf="isFormSubmit">
                            <span class="error-message" *ngIf="changePasswordForm.value.oldPassword.trim()==''">Please enter old password</span>
                        </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group"><label for="newPassword">New Password <span
                            class="asterisk_input"></span></label><input class="form-control"
                        formControlName="newPassword" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d!@#$%^&amp;]{8,}$"
                        placeholder="New Password.." type="password">
                        <div class="form-control-feedback" *ngIf="isFormSubmit">
                            <span class="error-message" *ngIf="changePasswordForm.value.newPassword.trim()==''">Please enter New password</span>
                        </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group"><label for="confirmPass">Confirm Password
                        <span class="asterisk_input"></span></label><input class="form-control"
                        formControlName="confirmPass" placeholder="Confirm Password.." type="password">
                        <div class="form-control-feedback" *ngIf="isFormSubmit">
                            <span class="error-message" *ngIf="changePasswordForm.value.confirmPass.trim()==''">Please enter Confirm password</span>
                        </div>
                </div>
            </div>
        </div>
        <div class="modal-footer"><button class="btn btn-primary" type="submit">Yes</button><button
                class="btn btn-secondary" type="button" (click)="modal.dismiss()">No</button></div>
    </form>
</ng-template>