<div class="container">
    <div class="animated fadeIn divider-top">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="card card-report card-accent-primary">
                    <div class="card-body row p-0">
                        <div class="col-md-6 row">
                            <div class="col-md-8 col-8">
                                <div class="form-group">
                                    <div class="mydp" style="width: 100%;">
                                        <div class="selectiongroup">
                                        <input class="selection" placeholder="yyyy-mm-dd" name="dp"  ngbDatepicker #dateTime2="ngbDatepicker" style="height: 34px;" [maxDate]="maxDate" >
                                            <div class="selbtngroup" style="height: 34px;">
                                        <button class="btnpicker btnpickerenabled" (click)="dateTime2.toggle()"
                                            type="button"><span class="mydpicon icon-mydpcalendar"></span></button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-4">
                                <div class="form-group"><input class="form-control ng-untouched ng-pristine" disabled=""
                                        maxlength="5" name="starttime" type="text"></div>
                            </div>
                        </div>
                        <div class="col-md-6 row">
                            <div class="col-md-1 p-0">
                                <div class="form-group text-center"><span class="lbl-to"> TO</span></div>
                            </div>
                            <div class="col-md-7 col-8">
                                <div class="form-group">
                                    <div class="mydp" style="width: 100%;">
                                        <div class="selectiongroup">
                                        <input class="selection" placeholder="yyyy-mm-dd" name="dp"  ngbDatepicker #dateTime2="ngbDatepicker" style="height: 34px;" [maxDate]="maxDate" >
                                            <div class="selbtngroup" style="height: 34px;">
                                        <button class="btnpicker btnpickerenabled" (click)="dateTime2.toggle()"
                                            type="button"><span class="mydpicon icon-mydpcalendar"></span></button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-4">
                                <div class="form-group"><input class="form-control ng-untouched ng-pristine" disabled=""
                                        maxlength="5" name="endtime" type="text"></div>
                            </div>
                        </div>
                        <div class="col-md-12 betHistory">
                            <div class="row">
                                <div class="col-md-12 row">
                                    <div class="col-md-3 col-6"><button class="btn btn-primary"
                                            type="button"><strong>Just
                                                For
                                                Today</strong></button></div>
                                    <div class="col-md-3 col-6"><button class="btn btn-primary"
                                            type="button"><strong>Get P
                                                &amp;
                                                L</strong></button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 p-mobile-0">
                <div class="card card-accent-primary">
                    <div class="card-header account-detail-head"> Profit/Loss <h6 class="pull-right total-pl">Total P/L
                            : IR
                            <span class="minus-pl">0</span>
                        </h6>
                    </div>
                    <div class="card-body account-stat-body">
                        <div class="row">
                            <div class="col-md-12 p-mobile-0">
                                <div class="table-responsive">
                                    <div id="DataTables_Table_2_wrapper" class="dataTables_wrapper no-footer">
                                        <div class="dataTables_length" id="DataTables_Table_2_length"><label>Show
                                                <select name="DataTables_Table_2_length"
                                                    aria-controls="DataTables_Table_2" class="">
                                                    <option value="10">10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select> entries</label></div>
                                        <table class="table table-bordered dataTable no-footer" datatable=""
                                            id="DataTables_Table_2" role="grid"
                                            aria-describedby="DataTables_Table_2_info">
                                            <thead>
                                                <tr class="text-center" role="row">
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Sport Name: activate to sort column ascending">Sport
                                                        Name</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Event Name: activate to sort column ascending">Event
                                                        Name</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Market Name: activate to sort column ascending">
                                                        Market
                                                        Name</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Result: activate to sort column ascending">Result
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Profit/Loss: activate to sort column ascending">
                                                        Profit/Loss</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_2"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Commission: activate to sort column ascending">
                                                        Commission</th>
                                                    <th class="sorting_desc" tabindex="0"
                                                        aria-controls="DataTables_Table_2" rowspan="1" colspan="1"
                                                        aria-sort="descending"
                                                        aria-label="Settle Time: activate to sort column ascending">
                                                        Settle
                                                        Time</th>
                                                </tr>
                                            </thead>


                                            <tbody>
                                                <tr>
                                                    <td class="no-data-available" colspan="7">No data!
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="dataTables_info" id="DataTables_Table_2_info" role="status"
                                            aria-live="polite">Showing 0 to 0 of 0 entries</div>
                                        <div class="dataTables_paginate paging_full_numbers"
                                            id="DataTables_Table_2_paginate"><a class="paginate_button first disabled"
                                                aria-controls="DataTables_Table_2" data-dt-idx="0" tabindex="0"
                                                id="DataTables_Table_2_first">First</a><a
                                                class="paginate_button previous disabled"
                                                aria-controls="DataTables_Table_2" data-dt-idx="1" tabindex="0"
                                                id="DataTables_Table_2_previous">Previous</a><span></span><a
                                                class="paginate_button next disabled" aria-controls="DataTables_Table_2"
                                                data-dt-idx="2" tabindex="0" id="DataTables_Table_2_next">Next</a><a
                                                class="paginate_button last disabled" aria-controls="DataTables_Table_2"
                                                data-dt-idx="3" tabindex="0" id="DataTables_Table_2_last">Last</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>>