<div class="container">
    <div class="animated fadeIn divider-top">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="card card-report card-accent-primary">
                    <form [formGroup]="betHistoryForm" (ngSubmit)="getBetHistory()">
                        <div class="card-body row p-0">
                            <div class="col-md-6 row">
                                <div class="col-md-8 col-8">
                                    <div class="form-group">
                                        <div class="mydp" style="width: 100%;">
                                            <div class="selectiongroup">
                                                <input class="selection" placeholder="yyyy-mm-dd" name="dp"
                                                    ngbDatepicker #dateTime1="ngbDatepicker" formControlName="startData"
                                                    style="height: 34px;" [maxDate]="maxDate" readonly>
                                                <div class="selbtngroup" style="height: 34px;">
                                                    <button class="btnpicker btnpickerenabled"
                                                        (click)="dateTime1.toggle()" type="button"><span
                                                            class="mydpicon icon-mydpcalendar"></span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-4">
                                    <div class="form-group"><input class="form-control" maxlength="5"
                                            formControlName="starttime" type="text"></div>
                                </div>
                            </div>
                            <div class="col-md-6 row">
                                <div class="col-md-1 p-0">
                                    <div class="form-group text-center"><span class="lbl-to"> TO</span></div>
                                </div>
                                <div class="col-md-7 col-8">
                                    <div class="form-group">
                                        <div class="mydp" style="width: 100%;">
                                            <div class="selectiongroup">
                                                <input class="selection" placeholder="yyyy-mm-dd"
                                                    formControlName="endDate" ngbDatepicker #dateTime2="ngbDatepicker"
                                                    style="height: 34px;" [maxDate]="maxDate" readonly>
                                                <div class="selbtngroup" style="height: 34px;">
                                                    <button class="btnpicker btnpickerenabled"
                                                        (click)="dateTime2.toggle()" type="button"><span
                                                            class="mydpicon icon-mydpcalendar"></span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-4">
                                    <div class="form-group"><input class="form-control" maxlength="5"
                                            formControlName="endTime" type="text"></div>
                                </div>
                            </div>
                            <div class="col-md-12 betHistory">
                                <div class="row">
                                    <div class="col-md-12 row">
                                        <div class="col-md-3 col-6">
                                            <div class="form-group"><select class="form-control" formControlName="sportId">
                                                    <option value="">Select Sport</option>
                                                    <option value="555">Manual Odds</option>
                                                    <option value="666">Fancy</option>
                                                    <option value="777">Sportbook</option>
                                                    <option value="4">Cricket </option>
                                                    <option value="2">Tennis </option>
                                                    <option value="1">Soccer </option>
                                                    <option value="6">Casino </option>
                                                    <option value="5">Lottery </option>
                                                    <option value="11">Horse Racing </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-6">
                                            <div class="form-group"><select class="form-control" formControlName="isSettlement">
                                                    <option value="">Select Type</option>
                                                    <option value="1">Settle</option>
                                                    <option value="0">Unsettle</option>
                                                    <option value="888">Void</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-6">
                                            <button class="btn btn-primary" type="submit"><strong> Just For
                                                    Today</strong></button>
                                        </div>
                                        <div class="col-md-3 col-6">
                                            <button class="btn btn-primary" type="submit"><strong>Get
                                                    History</strong></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 p-mobile-0">
                <div class="card card-accent-primary">
                    <div class="card-header account-detail-head"> Bet History </div>
                    <div class="card-body account-stat-body">
                        <div class="row">
                            <div class="col-md-12 p-mobile-0">
                                <div class="table-responsive">
                                    <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper">
                                        <div class="dataTables_length" id="DataTables_Table_1_length"><label>Show
                                                <select name="DataTables_Table_1_length"
                                                    aria-controls="DataTables_Table_1" class="">
                                                    <option value="10">10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select> entries</label></div>
                                        <table class="table table-bordered dataTable" datatable=""
                                            id="DataTables_Table_1" role="grid"
                                            aria-describedby="DataTables_Table_1_info">
                                            <thead class="text-center">
                                                <tr role="row">
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1"
                                                        rowspan="1" colspan="1">Bet ID
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1"
                                                        rowspan="1" colspan="1">Event
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1"
                                                        rowspan="1" colspan="1">Market
                                                    </th>
                                                    <th class="sorting_disabled" rowspan="1" colspan="1">Selection</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1"
                                                        rowspan="1" colspan="1">Type</th>
                                                    <th class="sorting_disabled" rowspan="1" colspan="1">Odds Req.</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1"
                                                        rowspan="1" colspan="1">Stake
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1"
                                                        rowspan="1" colspan="1">Place
                                                        Time</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1"
                                                        rowspan="1" colspan="1">Matched
                                                        Time</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1"
                                                        rowspan="1" colspan="1">Settle
                                                        Time</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="betList.length > 0">
                                                <tr *ngFor="let bList of betList">
                                                    <td>{{bList.betId}}</td>
                                                    <td>{{bList.event}}</td>
                                                    <td>{{bList.market}}</td>
                                                    <td>{{bList.selection}}</td>
                                                    <td>{{bList.type}}</td>
                                                    <td>{{bList.oddsRequest}}</td>
                                                    <td>{{bList.amountStake}}</td>
                                                    <td>{{bList.placeTime | date:'medium'}}</td>
                                                    <td>{{bList.matchedTime | date:'medium'}}</td>
                                                    <td>{{bList.settleTime | date:'medium'}}</td>
                                                </tr>
                                            </tbody>
                                            <tfoot *ngIf="betList.length == 0">
                                                <tr>
                                                    <td class="no-data-available" colspan="10" rowspan="1">No data!</td>
                                                </tr>
                                            </tfoot>
                                            <tbody></tbody>
                                        </table>
                                        <div class="dataTables_info" id="DataTables_Table_1_info" role="status"
                                            aria-live="polite">Showing 0 to 0 of 0 entries</div>
                                        <div class="dataTables_paginate paging_full_numbers"
                                            id="DataTables_Table_0_paginate"><a class="paginate_button first disabled"
                                                aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0"
                                                id="DataTables_Table_0_first">First</a><a
                                                class="paginate_button previous disabled"
                                                aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0"
                                                id="DataTables_Table_0_previous">Previous</a><span></span><a
                                                class="paginate_button next disabled" aria-controls="DataTables_Table_0"
                                                data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next">Next</a><a
                                                class="paginate_button last disabled" aria-controls="DataTables_Table_0"
                                                data-dt-idx="3" tabindex="0" id="DataTables_Table_0_last">Last</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>>