.lastsixball {
	padding: 0;
	margin: 0
}

.lastsixball li {
	list-style: none
}

.lastsixball li span {
	background: #6bb136;
	padding: 3px 7px;
	margin-right: 3px;
	font-size: 13px;
	border-radius: 20px
}

.lastsixball li .wicket-ball {
	background: red
}

.commentary-score {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
	height: 25px
}

.quick_bet-progress {
	padding: 0;
	background-color: #e2e8ed;
	margin: 0
}

.quick_bet-progress .progress-bar {
	width: 100%;
	height: 25px;
	padding: 0;
	margin: 0;
	background: #c2d5e4;
	border-radius: 0;
	box-shadow: inset 0 2px 0 rgba(0, 0, 0, .1);
	transition: width .4s ease
}

.game-head .match-btn a:not([href]):not([tabindex]):hover {
	color: #fff
}

.quick_bet-progress .progress-bar-txt {
	width: 100%;
	font-weight: 700;
	color: #3b5160;
	line-height: 25px;
	padding: 0
}

.fancy-comment td {
	margin: 0;
	padding: 0
}

.table thead th,
.tbl-bets .odd-row {
	border-bottom: 1px solid #7e97a7
}

.back-gradient {
	background-image: linear-gradient(90deg, rgba(130, 183, 221, .15) 0, rgba(130, 183, 221, .8) 65%);
	height: 46px;
	display: flex;
	margin: 0;
	padding: 0
}

.lay-gradient {
	background-image: linear-gradient(270deg, rgba(231, 170, 184, .15) 5%, rgba(231, 170, 184, .8) 60%);
	height: 46px;
	display: flex;
	margin: 0;
	padding: 0
}

.back-gradient dd,
.lay-gradient dd {
	flex: 1;
	padding: 2px;
	color: #59708d;
	justify-content: center;
	align-items: center;
	display: flex;
	margin: 0
}

.back-gradient dd a {
	color: #59708d!important
}

.lay-gradient dd a {
	color: #a9616d!important
}

.team-width {
	width: 40%
}

.back-gradient .back_1 a,
.lay-gradient .lay_1 a {
	justify-content: center;
	align-items: center;
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	padding: 0;
	margin: 0;
	background-color: #72bbef;
	border: 1px solid #fff;
	border-radius: 4px;
	color: #000!important
}

.lay-gradient .lay_1 a {
	background-color: #faa9ba
}

.back-gradient a,
.lay-gradient a {
	justify-content: center;
	align-items: center;
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	padding: 2px 0;
	margin: 0;
	border-radius: 4px
}

.suspend-bookmaker {
	height: 46px;
	background-color: rgba(36, 58, 72, .4);
	z-index: 5;
	position: absolute;
	width: 200%;
	left: 0
}

.suspend-bookmaker span {
	line-height: 46px;
	font-size: 12px;
	font-weight: 400;
	opacity: .8;
	color: #fff;
	text-shadow: 0 1px 4px rgba(0, 0, 0, .5);
	text-align: center;
	text-transform: none
}

.spnd-sportbook {
	padding: 10px;
	width: 100%;
	height: 43px;
	top: 0;
	right: 0;
	background-color: rgba(36, 58, 72, .4);
	z-index: 5;
	position: absolute
}

.spnd-sportbook span {
	font-size: 12px;
	font-weight: 400;
	opacity: .8;
	color: #fff;
	text-shadow: 0 1px 4px rgba(0, 0, 0, .5);
	text-align: center;
	text-transform: none
}

.spnd-sportbook:hover,
.suspend-bookmaker:hover {
	background-color: rgba(36, 58, 72, .55)
}

.sportbook-market-tbl .back-1 {
	background: #72e3a0
}

.sportbook-market-tbl .back-1.select {
	background: #16a660
}

.sportbook-market-tbl .slip-back {
	background-color: #d3edd0
}

.sportbook-market-tbl .slip-back .col-stake_list {
	border-top: 1px solid #9fd899;
	background-color: #e4f4e2
}

.back-gradient .select a,
.back-gradient .select a:hover {
	color: #fff!important;
	background: #2395e6;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .5)
}

.lay-gradient .select a,
.lay-gradient .select a:hover {
	color: #fff!important;
	background: #f4496d;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .5)
}

.lay-gradient dd.spark a {
	-webkit-animation: .5s sparkLay;
	animation: .5s sparkLay
}

.back-gradient dd.spark a {
	-webkit-animation: .5s sparkBack;
	animation: .5s sparkBack
}

.btn-fancy_info {
	height: 100%;
	padding: 0;
	margin: 0 5px 0 0;
	background-color: transparent;
	line-height: inherit;
	align-items: center;
	justify-content: center;
	float: right;
	display: none
}

.fancy_info-popup {
	display: none;
	color: #1e1e1e;
	right: 0;
	border-radius: .5997vmax;
	position: absolute;
	top: 0;
	align-items: flex-start;
	z-index: 9;
	background: #fff;
	font-weight: 400;
	box-shadow: 0 6px 10px rgba(0, 0, 0, .7)
}

.fancy_info-popup dl {
	border-right: .26667vw solid #e0e6e6;
	padding: 3px 1.04948vmax;
	margin: 0;
	min-width: 130px
}

.fancy_info-popup dt,
.limit_info-popup dt {
	height: 1.7991vmax;
	font-size: 1.49925vmax;
	line-height: 1.7991vmax;
	padding: .44978vmax 0 .5997vmax;
	color: #577c94
}

.fancy_info-popup .close,
.limit_info-popup .close {
	width: 3.74813vmax;
	height: 4.74813vmax;
	justify-content: center;
	align-items: center;
	font-size: 0;
	text-indent: -99999px;
	display: flex
}

.fancy_info-popup .close:before {
	width: 1.34933vmax;
	height: 1.34933vmax;
	background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="9" height="9"><path fill="rgb(30,30,30)" fill-rule="evenodd" d="M9 .912L5.412 4.5 9 8.088 8.088 9 4.5 5.412.912 9 0 8.088 3.588 4.5 0 .912.912 0 4.5 3.588 8.088 0z"/></svg>') no-repeat;
	display: block;
	content: ''
}

.fancy_info-popup dd {
	padding-bottom: 0;
	line-height: 3.09895vmax;
	color: #1e1e1e;
	margin: 0;
	font-weight: 700
}

.btn-fancy_info:before {
	background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15"><path fill="%233B5160" fill-rule="evenodd" d="M6.76 5.246V3.732h1.48v1.514H6.76zm.74 8.276a5.86 5.86 0 0 0 3.029-.83 5.839 5.839 0 0 0 2.163-2.163 5.86 5.86 0 0 0 .83-3.029 5.86 5.86 0 0 0-.83-3.029 5.839 5.839 0 0 0-2.163-2.163 5.86 5.86 0 0 0-3.029-.83 5.86 5.86 0 0 0-3.029.83A5.839 5.839 0 0 0 2.308 4.47a5.86 5.86 0 0 0-.83 3.029 5.86 5.86 0 0 0 .83 3.029 5.839 5.839 0 0 0 2.163 2.163 5.86 5.86 0 0 0 3.029.83zM7.5 0c1.37 0 2.638.343 3.804 1.028a7.108 7.108 0 0 1 2.668 2.668A7.376 7.376 0 0 1 15 7.5c0 1.37-.343 2.638-1.028 3.804a7.108 7.108 0 0 1-2.668 2.668A7.376 7.376 0 0 1 7.5 15a7.376 7.376 0 0 1-3.804-1.028 7.243 7.243 0 0 1-2.668-2.686A7.343 7.343 0 0 1 0 7.5c0-1.358.343-2.62 1.028-3.786a7.381 7.381 0 0 1 2.686-2.686A7.343 7.343 0 0 1 7.5 0zm-.74 11.268V6.761h1.48v4.507H6.76z"/></svg>') 0 0/contain;
	width: 20px;
	content: '';
	height: 20px
}

@-webkit-keyframes sparkBack {
	0%,
	100% {
		background-color: #72bbef;
		color: #1e1e1e
	}
	50% {
		background-color: #f8e71c;
		color: #fff
	}
}

@keyframes sparkBack {
	0%,
	100% {
		background-color: #72bbef;
		color: #1e1e1e
	}
	50% {
		background-color: #f8e71c;
		color: #fff
	}
}

@-webkit-keyframes sparkLay {
	0%,
	100% {
		background-color: #faa9ba;
		color: #1e1e1e
	}
	50% {
		background-color: #26f1f8;
		color: #fff
	}
}

@keyframes sparkLay {
	0%,
	100% {
		background-color: #faa9ba;
		color: #1e1e1e
	}
	50% {
		background-color: #26f1f8;
		color: #fff
	}
}

.sdlimg {
	height: 20px;
	width: 30px
}

.horseJursey,
.horseNumber {
	display: inline-block;
	text-align: center;
	vertical-align: top
}

.horseNumber {
	width: 30px
}

.horseJursey {
	padding: 8px 0
}

.lay-3.select a {
	color: #fff
}

.jursey-img {
	height: 30px
}

.lottery-res {
	padding: 20px;
	margin: 0
}

.lottery-res li {
	padding: 25px 20px;
	font-size: 30px;
	text-align: center;
	list-style: none
}

.lottery-res span {
	display: block
}

.lottery-res .name-lottery {
	color: #333;
	font-weight: 700;
	text-transform: uppercase
}

.lottery-res .result-number {
	color: #9a3737;
	font-weight: 700;
	display: block
}

.lottery-res .date-lottery {
	color: #333;
	font-weight: 700;
	font-size: 15px;
	text-transform: uppercase
}

.mobile-stream {
	display: none
}

.lotteryevent-title {
	background: linear-gradient(180deg, #f26d1c 15%, #d14100 100%);
	padding: 5px;
	font-size: 14px;
	margin-bottom: 5px;
	border: none
}

.racingTbl td {
	padding: .43rem
}

.suspended-horse {
	padding: 4px;
	position: absolute;
	width: 100%;
	height: 45px;
	font-size: 14px;
	font-weight: 700;
	color: #ca1010;
	display: flex;
	text-align: center;
	background: #fff;
	opacity: .8;
	border: 2px solid #ca1010;
	z-index: 1
}

.adjustmentFactor {
	font-weight: 400;
	font-size: 12px;
	margin-left: 10px
}

.fancy_bet_tab-wrap,
.special_bets-tab-wrap {
	background-image: linear-gradient(180deg, #f26d1c 15%, #d14100 100%);
	justify-content: center;
	align-items: center
}

.fancy_bet_back {
	background-image: linear-gradient(180deg, #0a92a5 15%, #076875 100%)
}

.special_bets-tab {
	width: auto;
	background-color: rgba(255, 255, 255, .5);
	border-radius: 5px;
	margin: 5px 0 3px;
	justify-content: center;
	align-items: center;
	padding: 0
}

.fancy_bet_tab-wrap,
.special_bets-tab {
	display: flex
}

.special_bets-tab li {
	list-style: none;
	padding: 2px
}

.special_bets-tab .select a {
	background-color: #fff;
	color: #a34005;
	text-decoration: none
}

.special_bets-tab a {
	min-width: 70px;
	height: 18px;
	line-height: 18px;
	color: rgba(163, 64, 5, .85);
	font-weight: 700;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 0 5px;
	display: block;
	text-align: center
}

.fancy_bet_tab-wrap .select a,
.fancy_bet_tab-wrap a {
	color: #000!important;
	font-size: 12px
}

.truncate {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left
}

#fancyBetHeadNew {
	top: -28px
}

.live-stream {
	margin-bottom: 0
}

.ui-ribbon {
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
	height: 100%;
	width: 100%;
	display: block
}

.matchLive {
	margin-top: -5px
}

.ui-ribbon .list {
	display: flex;
	margin: 0;
	padding: 0
}

.ui-ribbon .item.pebble.selected,
.ui-ribbon .item.pebble.selected:active {
	background-color: #303030;
	border-bottom: 1px solid #fff;
	border-top: none
}

.ui-ribbon .item.pebble {
	background-color: #303030;
	border-bottom: 2px solid #303030;
	border-top: none;
	list-style: none;
	border-right: 1px solid #666060
}

.ui-ribbon .item.pebble:last-child {
	border-right: none
}

.ui-ribbon .item.selected,
.ui-ribbon .item.selected:active {
	background-color: #fff;
	border-top: 2px solid #303030
}

.ui-ribbon .item {
	background-color: #f0f1f5;
	border-top: 2px solid #f0f1f5;
	flex: 1 0 auto;
	margin: 0
}

.ui-ribbon .item .link {
	width: 100%
}

.ui-ribbon .item .container {
	white-space: nowrap;
	text-align: center;
	padding: 5px 0
}

.ui-ribbon .item.pebble .title,
.ui-ribbon .item.pebble.selected .title {
	color: #fff
}

@media only screen and (max-width:992px) {
	.tbl-bets .back_2,
	.tbl-bets .back_3,
	.tbl-bets .lay_2,
	.tbl-bets .lay_3 {
		display: none
	}
	.team-width {
		width: calc(100% - 35%)
	}
	.btn-fancy_info {
		display: flex
	}
	.mbl-book {
		padding: 0;
		margin: 0
	}
	.lastsixball.hidemobile li span {
		padding: 1px 5px;
		margin-right: 3px;
		font-size: 12px
	}
	.mobile-stream {
		display: block
	}
}

@media only screen and (min-width:768px) and (max-width:1024px) {
	.team-width {
		width: 80%
	}
}

@media only screen and (max-width:767px) {
	.mobile-stream {
		display: block
	}
	.fancy_bet_tab-wrap {
		width: 100%;
		overflow-x: scroll;
		white-space: nowrap
	}
	.matchState {
		padding: 0 0 65%;
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 100%
	}
	.matchState iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0
	}
	.special_bets-tab a {
		min-width: unset;
		padding: 0 5px;
		line-height: 22px;
		height: 22px
	}
	.special_bets-tab {
		padding: unset
	}
	.special_bets-tab li {
		padding: 0 4px 0 0
	}
}