<div class="">
    <div class="container">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12 match-list">
                    <div class="market-type show-xs" id="naviMarket">
                        <ul id="naviMarketList">
                            <li class="select all" id="naviMarket_1_172614581" style="display: list-item;">
                                <a>All</a>
                            </li>
                            <li id="naviMarket_1_172614581" style="display: list-item;"><a>Match Odds</a></li>
                            <li id="naviMarket_1_172614581" style="display: list-item;"><a>Bookmaker</a></li>
                        </ul>
                    </div>
                    <div *ngIf="matchOddsData && matchOddsData.length > 0">
                        <div class="card mb-3 matchodd" *ngFor="let matchOdds of matchOddsData">
                            <div class="card-matchodds"><strong class="match-odds">{{matchOdds.marketName}} <span
                                        class="marketinfo ml-2"></span></strong>
                                <span class="matched-count  pull-right">Matched <strong>€ {{
                                        matchOdds.oddsData.totalMatched | thousandSuffixes : 2 }}</strong></span>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table table-hover tbl-bets betfair-tbl p-rltv">
                                        <div class="suspended" *ngIf="matchOdds.oddsData.status=='SUSPENDED'"><span
                                                class="stats-text">Suspended</span></div>
                                        <thead>
                                            <th class="show-xs min-max-mobile">
                                                <dl class="fancy-info" id="minMaxBox"
                                                    *ngIf="matchOdds.oddsData.status!='SUSPENDED'">
                                                    <dt>Min/Max</dt>
                                                    <dd id="minMaxInfo">
                                                        {{matchOdds.min}}-{{matchOdds.max}}
                                                    </dd>
                                                </dl>
                                            </th>
                                            <th class="hidden-xs" colspan="3"></th>
                                            <th class="back-1">Back</th>
                                            <th class="lay-1">Lay</th>
                                            <th class="min-max-bet" colspan="2">
                                                <dl class="fancy-info" id="minMaxBox"
                                                    *ngIf="matchOdds.oddsData.status!='SUSPENDED'">
                                                    <dt>Min/Max</dt>
                                                    <dd id="minMaxInfo">
                                                        {{matchOdds.min}}-{{matchOdds.max}}
                                                    </dd>
                                                </dl>
                                            </th>
                                        </thead>
                                        <tbody>
                                            <ng-container
                                                *ngFor="let matchOddsPrice of matchOdds.oddsData.runners; let i = index">
                                                <tr style="position: relative;" class="odd-row">
                                                    <td class="team-name">
                                                        <span
                                                            class="title">{{matchOdds.runnersData[matchOddsPrice.selectionId]}}</span>
                                                        <span class="minus-book"><i class="fa fa-arrow-right"></i>
                                                            0.00
                                                            <span class="extra-pf" *ngIf="selectionId == matchOddsPrice.selectionId && exMarketId == matchOdds.exMarketId && oddBook == true"  [ngClass]="{'plus-book': oddsSlip == 'slipBack', 'minus-book': oddsSlip == 'slipLay'}" >({{ oddsSlip == 'slipBack' ? oddBookPrice : -oddBookPrice}})</span>
                                                            <span class="extra-pf" *ngIf="selectionId != matchOddsPrice.selectionId && exMarketId == matchOdds.exMarketId && oddBook == true" [ngClass]="{'plus-book': oddsSlip == 'slipLay', 'minus-book': oddsSlip == 'slipBack'}" >({{ oddsSlip == 'slipLay' ? bidOddPrice : -bidOddPrice}})</span>
                                                        </span>
                                                    </td>
                                                    <td *ngFor="let backPrice of matchOddsPrice.price.back.reverse(); let bindex = index"
                                                        class="count back-{{3-bindex}} {{matchOddsPrice.selectionId}}"
                                                        [ngClass]="{'select': selectedIndex == bindex && selectionId == matchOddsPrice.selectionId && oddsSlip == 'slipBack' }">
                                                        <a
                                                            (click)="openOrderRow(bindex, matchOdds.exEventId, matchOdds.exMarketId, matchOddsPrice.selectionId, 'slipBack', backPrice.price)">{{backPrice.price}}
                                                            <span>{{backPrice.size | thousandSuffixes : 2 }}</span></a>
                                                    </td>
                                                    <td *ngFor="let layPrice of matchOddsPrice.price.lay; let lindex = index"
                                                        class="count lay-{{lindex+1}} {{matchOddsPrice.selectionId}}"
                                                        [ngClass]="{'select': selectedIndex == lindex && selectionId == matchOddsPrice.selectionId && oddsSlip == 'slipLay' }">
                                                        <a
                                                            (click)="openOrderRow(lindex, matchOdds.exEventId, matchOdds.exMarketId, matchOddsPrice.selectionId, 'slipLay', layPrice.price)">{{layPrice.price}}
                                                            <span>{{layPrice.size | thousandSuffixes : 2 }}</span></a>
                                                    </td>
                                                </tr>
                                                <tr class="fancy-quick-tr"
                                                    [ngClass]="{'d-table-row': exEventId == matchOdds.exEventId && selectionId == matchOddsPrice.selectionId, 'slip-lay': oddsSlip == 'slipLay', 'slip-back': oddsSlip == 'slipBack' }">
                                                    <td colspan="7">
                                                        <dl class="quick_bet-wrap" id="classWrap">
                                                            <dt class="" id="fancyBetHeader" style="width:35%"><span
                                                                    class="bet-check" id="fancyBetAcceptCheck"></span>
                                                            </dt>
                                                            <dd class="col-btn"><a class="btn" id="cancel"
                                                                    style="cursor:pointer;"
                                                                    (click)="openOrderRow(0, 0, 0, 0, '')">Cancel</a></dd>
                                                            <dd class="col-stake betfairodds"><a class="icon-minus"
                                                                    id="stakeDown"></a><input type="number" [value]="bidPriceInput" class=""><a
                                                                    class="icon-plus" id="stakeUp"></a></dd>
                                                            <dd class="col-stake betfair-stack">
                                                                <a class="icon-minus show-xs" id="stakeDown"></a>
                                                                <input
                                                                    class="oddinput"
                                                                    type="number" [value]="bidOddPrice" (change)="setBidPrice($event)"><a class="icon-plus show-xs"
                                                                    id="stakeUp"></a>
                                                            </dd>
                                                            <dd class="col-send"><button class="btn-send disable"
                                                                    style="cursor:pointer;">Place Bets</button></dd>
                                                            <dd class="col-stake_list" id="stakePopupList"
                                                                style="display: block;">
                                                                <ul>
                                                                    <li><a class="btn" style="cursor:pointer;" (click)="setBidPrice(1000)">1000</a>
                                                                    </li>
                                                                    <li><a class="btn" style="cursor:pointer;" (click)="setBidPrice(5000)">5000</a>
                                                                    </li>
                                                                    <li><a class="btn" style="cursor:pointer;" (click)="setBidPrice(10000)">10000</a>
                                                                    </li>
                                                                    <li><a class="btn" style="cursor:pointer;" (click)="setBidPrice(25000)">25000</a>
                                                                    </li>
                                                                    <li><a class="btn" style="cursor:pointer;" (click)="setBidPrice(50000)">50000</a>
                                                                    </li>
                                                                    <li><a class="btn"
                                                                            style="cursor:pointer;" (click)="setBidPrice(100000)">100000</a></li>
                                                                    <li><a class="btn"
                                                                            style="cursor:pointer;" (click)="setBidPrice(200000)">200000</a></li>
                                                                    <li><a class="btn"
                                                                            style="cursor:pointer;" (click)="setBidPrice(500000)">500000</a></li>
                                                                </ul>
                                                            </dd>
                                                            <div class="show-xs betmobile-btn">
                                                                <dd class="col-btn"><a class="btn" id="cancel"
                                                                        style="cursor:pointer;">Cancel</a></dd>
                                                                <dd class="col-send"><button class="btn-send disable"
                                                                        style="cursor:pointer;">Place Bets</button></dd>
                                                            </div>
                                                        </dl>
                                                    </td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card mb-0 matchodd">
                            <div class="card-matchodds"><strong class="match-odds">Bookmaker <span
                                        class="marketinfo ml-2"></span></strong>
                                <marquee class="pull-left hidden-xs"
                                    style="width: 50%;font-weight:bold;line-height: 30px;">
                                </marquee>
                                <span class="matched-count  pull-right">Matched <strong>€ 2.6M</strong></span>
                                <marquee class="pull-right show-xs"
                                    style="width: 100%;font-weight:bold;line-height: 20px;">
                                </marquee>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table table-hover betfair-tbl tbl-bets p-rltv"
                                        style="margin-bottom:0;background: #FAF8D8;">
                                        <thead>
                                            <th class=""></th>
                                            <th colspan="3" style="text-align: right;padding-right: 20px;">
                                                Back</th>
                                            <th colspan="3" style="text-align: left;padding-left: 20px;">
                                                Lay</th>
                                        </thead>
                                        <tbody>
                                            <tr class="odd-row 1022022224211754 448">
                                                <td class="team-name team-width"><span class="title">New Zealand</span>
                                                    <span class="minus-book"><i class="fa fa-arrow-right"></i>
                                                        0.00
                                                    </span>
                                                </td>
                                                <td colspan="3" style="padding: 0;position: relative;">

                                                    <div class="suspend-bookmaker"><span
                                                            class="stats-text">Suspended</span>
                                                    </div>


                                                    <dl class="back-gradient">
                                                        <dd style="cursor: pointer" class="count 448 back_3">

                                                            <a class="not-allowed"> 0 <span>1.5M</span></a>
                                                        </dd>
                                                        <dd style="cursor: pointer" class="count 448 back_2">

                                                            <a class="not-allowed"> 0 <span>1M</span></a>
                                                        </dd>
                                                        <dd class="count 448 back_1" style="cursor: pointer">

                                                            <a class="not-allowed"> 0 <span>500K</span></a>
                                                        </dd>
                                                    </dl>
                                                </td>
                                                <td colspan="3" style="padding: 0;">
                                                    <dl class="lay-gradient">
                                                        <dd style="cursor: pointer" class="count 448 lay_1">

                                                            <a class="not-allowed"> 0 <span>500K</span></a>
                                                        </dd>
                                                        <dd style="cursor: pointer" class="count 448 lay_2">

                                                            <a class="not-allowed"> 0 <span>1M</span></a>
                                                        </dd>
                                                        <dd class="count 448 lay_3" id="back_1" style="cursor: pointer">

                                                            <a class="not-allowed"> 0 <span>1.5M</span></a>
                                                        </dd>
                                                    </dl>
                                                </td>
                                            </tr>
                                            <tr class="fancy-quick-tr  1022022224211754 448">
                                                <td colspan="7">
                                                    <dl class="quick_bet-wrap" id="classWrap">
                                                        <dt class="" id="fancyBetHeader"><span class="bet-check"
                                                                id="fancyBetAcceptCheck"></span></dt>
                                                        <dd class="col-btn"><a class="btn" id="cancel"
                                                                style="cursor:pointer;">Cancel</a></dd>
                                                        <dd class="col-odd" id="oddsHeader">
                                                            <ul class="quick-bet-confirm">
                                                                <li id="runs"></li>
                                                            </ul>
                                                        </dd>
                                                        <dd class="col-stake"><a class="icon-minus show-xs"
                                                                id="stakeDown"></a><input type="number"
                                                                class="ng-untouched ng-pristine ng-valid"><a
                                                                class="icon-plus show-xs" id="stakeUp"></a>
                                                        </dd>
                                                        <dd class="col-send"><button class="btn-send disable"
                                                                id="placeBet" style="cursor:pointer;">Place
                                                                Bets</button></dd>
                                                        <dd class="col-stake_list" id="stakePopupList"
                                                            style="display: block;">
                                                            <ul>

                                                                <li><a class="btn" style="cursor:pointer;">1000</a></li>
                                                                <li><a class="btn" style="cursor:pointer;">5000</a></li>
                                                                <li><a class="btn" style="cursor:pointer;">10000</a>
                                                                </li>
                                                                <li><a class="btn" style="cursor:pointer;">25000</a>
                                                                </li>
                                                                <li><a class="btn" style="cursor:pointer;">50000</a>
                                                                </li>
                                                                <li><a class="btn" style="cursor:pointer;">100000</a>
                                                                </li>
                                                                <li><a class="btn" style="cursor:pointer;">200000</a>
                                                                </li>
                                                                <li><a class="btn" style="cursor:pointer;">500000</a>
                                                                </li>
                                                            </ul>
                                                        </dd>
                                                        <div class="show-xs betmobile-btn">
                                                            <dd class="col-btn"><a class="btn" id="cancel"
                                                                    style="cursor:pointer;">Cancel</a>
                                                            </dd>
                                                            <dd class="col-send"><button class="btn-send disable"
                                                                    id="placeBet" style="cursor:pointer;">Place
                                                                    Bets</button></dd>
                                                        </div>
                                                    </dl>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="border: none; margin-top: 38px;padding: 0; background: none;height: 5px;">
                        <div class="p-rltv">
                            <div class="fancy-head" id="fancyBetHeadNew">
                                <h4 class="in-play"><span id="headerName">Fancy
                                        Bet</span><a class="btn-fancybet_rules"></a></h4>
                                <h4 class="in-play-sportbook"><span id="headerName">Sportsbook</span><a
                                        class="btn-sportsbook_rules"></a></h4>
                            </div>

                            <div class="fancy_bet_tab-wrap fancy_bet_back" id="fancyBetTabWrap">
                                <ul class="special_bets-tab">
                                    <li class="select"><a>All</a></li>
                                    <li><a>Fancy</a></li>

                                    <li><a>Line Market</a></li>

                                    <li><a>Ball by Ball</a></li>

                                    <li><a>Meter <span class="hidden-xs">Market</span></a></li>

                                    <li><a>Khado <span class="hidden-xs">Market</span></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="card mb-1 fancy-card" style="">
                        <div class="card-header card-accrdn card-fancybet"></div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-hover tbl-bets fancy-bet p-rltv">
                                    <thead>
                                        <th class="minwidth" colspan="2">
                                            <marquee class="pull-right fancy-marquee" direction="scroll">
                                                <strong></strong>
                                            </marquee>
                                        </th>
                                        <th class="lay-1">No</th>
                                        <th class="back-1">Yes</th>
                                        <th class="hidden-xs">Min/Max</th>
                                    </thead>
                                    <tbody>
                                        <tr class="odd-row 101202222741025">
                                            <td class="team-name valign-middle"><a class="title">K Verreynne Runs (2)
                                                </a>

                                                <span class="minus-book"><i class="fa fa-arrow-right"></i> 0.00</span>
                                            </td>
                                            <td class="valign-middle mbl-book" style="position: relative;">
                                                <button class="book-btn btn btn-primary ">Book</button><a
                                                    class="btn-fancy_info"></a>
                                                <div id="fancy_popup2" class="fancy_info-popup 101202222741025">
                                                    <dl>
                                                        <dt>Min / Max</dt>
                                                        <dd id="minMax">100-50000 </dd>
                                                    </dl><a class="close" id="close-fancy_info">Close</a>
                                                </div>
                                            </td>
                                            <td id="fancy101202222741025" class="lay-1 count 101202222741025">
                                                <a>40 <span>110</span></a>

                                            </td>
                                            <td id="fancy101202222741025" class="back-1 count p-rltv 101202222741025">


                                                <div class="spnd-fncy"><span class="stats-text">Suspended</span></div>


                                                <a>40 <span>90</span></a>

                                            </td>
                                            <td class="min-max hidden-xs"> 100-50000</td>
                                        </tr>
                                        <tr class="odd-row 101202222744033">
                                            <td class="team-name valign-middle"><a class="title">Fall of 6th WKT SA (2)
                                                </a>

                                                <span class="minus-book"><i class="fa fa-arrow-right"></i> 0.00</span>
                                            </td>
                                            <td class="valign-middle mbl-book" style="position: relative;">
                                                <button class="book-btn btn btn-primary ">Book</button><a
                                                    class="btn-fancy_info"></a>
                                                <div id="fancy_popup2" class="fancy_info-popup 101202222744033">
                                                    <dl>
                                                        <dt>Min / Max</dt>
                                                        <dd id="minMax">100-100000 </dd>
                                                    </dl><a class="close" id="close-fancy_info">Close</a>
                                                </div>
                                            </td>
                                            <td id="fancy101202222744033" class="lay-1 count 101202222744033">
                                                <a>158 <span>110</span></a>

                                            </td>
                                            <td id="fancy101202222744033" class="back-1 count p-rltv 101202222744033">


                                                <div class="spnd-fncy"><span class="stats-text">Suspended</span></div>


                                                <a>158 <span>90</span></a>

                                            </td>
                                            <td class="min-max hidden-xs"> 100-100000</td>
                                        </tr>
                                        <tr class="fancy-quick-tr  101202222744033">
                                            <td colspan="7">
                                                <dl class="quick_bet-wrap" id="classWrap">
                                                    <dt class="" id="fancyBetHeader"><span class="bet-check"
                                                            id="fancyBetAcceptCheck"></span></dt>
                                                    <dd class="col-btn"><a class="btn" id="cancel"
                                                            style="cursor:pointer;">Cancel</a></dd>
                                                    <dd class="col-odd" id="oddsHeader">
                                                        <ul class="quick-bet-confirm">
                                                            <li id="runs"></li>
                                                            <li class="quick-bet-confirm-title" id="odds">
                                                            </li>
                                                        </ul>
                                                    </dd>
                                                    <dd class="col-stake"><a class="icon-minus show-xs"
                                                            id="stakeDown"></a><input type="number"
                                                            class="ng-untouched ng-pristine ng-valid"><a
                                                            class="icon-plus show-xs" id="stakeUp"></a></dd>
                                                    <dd class="col-send"><button class="btn-send disable" id="placeBet"
                                                            style="cursor:pointer;">Place
                                                            Bets</button></dd>
                                                    <dd class="col-stake_list" id="stakePopupList"
                                                        style="display: block;">
                                                        <ul>

                                                            <li><a class="btn" style="cursor:pointer;">1000</a></li>
                                                            <li><a class="btn" style="cursor:pointer;">5000</a></li>
                                                            <li><a class="btn" style="cursor:pointer;">10000</a></li>
                                                            <li><a class="btn" style="cursor:pointer;">25000</a></li>
                                                            <li><a class="btn" style="cursor:pointer;">50000</a></li>
                                                            <li><a class="btn" style="cursor:pointer;">100000</a></li>
                                                            <li><a class="btn" style="cursor:pointer;">200000</a></li>
                                                            <li><a class="btn" style="cursor:pointer;">500000</a></li>
                                                        </ul>
                                                    </dd>
                                                    <div class="show-xs betmobile-btn">
                                                        <dd class="col-btn"><a class="btn" id="cancel"
                                                                style="cursor:pointer;">Cancel</a></dd>
                                                        <dd class="col-send"><button class="btn-send disable"
                                                                id="placeBet" style="cursor:pointer;">Place
                                                                Bets</button></dd>
                                                    </div>
                                                </dl>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-0 sprt-card" style="display: none;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>