<ul class="tab-menu">
    <li class="ver-menu settingstack"><a href="javascript:;" class="active" (click)="collapse.toggle();"
            [attr.aria-expanded]="!isCollapsed">Setting <i class="fa fa-cog"></i></a>
    </li>
</ul>
<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="slip_set-pop">
    <div class="overlay right-side">
        <div class="side-wrap setting-wrap">
            <div class="side-content">
                <h3>Stake</h3>
                <dl class="setting-block stake-setting" id="editCustomizeStakeList">
                    <dd class="ng-star-inserted"><input name="stack_value" type="text" class="ng-untouched ng-pristine ng-valid"></dd>
                    <dd class="col-stake_edit"><a class="btn-send ui-link" href="javascript:;" id="save">Save</a></dd>
                </dl>
            </div>
        </div>
    </div>
</div>