<div class="app-header navbar">
    <button appsidebartoggler="" class="navbar-toggler d-lg-none" type="button">
        <span class="navbar-toggler-icon"></span>
    </button><a class="navbar-brand" [routerLink]="['/home']">
        <div class="navbar-brand-full">🅲 CoreUI</div>
        <div class="navbar-brand-minimized">🅲</div>
    </a>
    <button class="navbar-toggler d-md-down-none" type="button"><span class="navbar-toggler-icon"></span></button>
    <div class="welcome-text ">
        <a class="logo-home" [routerLink]="['/home']">
            <img class="logo-main" id="logoMain" src="./assets/img/64rb444.png">
        </a>
    </div>
    <div class="welcome-text mobile-after-login ">
        <a class="logo-home" [routerLink]="['/home']">
            <img class="logo-main" id="logoMain" src="./assets/img/64rb444.png">
        </a>
    </div>
    <div class="search-top">
        <div class="input-group">
        </div>
    </div>
    <div class="nav navbar-nav ml-auto p-rltv" *ngIf="!isLoginUser">
        <form [formGroup]="loginForm" class="top-form hidden-xs headerfrm" method="post" role="form"
            (ngSubmit)="loginFormSubmit()">
            <div class="form-group mb-0 ">
                <input class="form-control uname" formControlName="email" placeholder="Username" type="text" />
            </div>
            <div class="form-group mb-0 hidden-xs">
                <input class="form-control pass" formControlName="password" placeholder="Password" type="password" />
            </div>
            <button class="btn btn-orange pull-right mr-2" style="height: 30px;" type="submit"> Login <i
                    class="fa fa-sign-in"></i></button>
            <span class="err-invalid" *ngIf="isSubmitted && formSubmitError != null">
                <span>{{formSubmitError}}</span></span>
        </form>
    </div>
    <div class="nav navbar-nav ml-auto p-rltv" *ngIf="isLoginUser">
        <div class="user-blnc"><span> Main <strong>IR {{loginBalance}}</strong></span><span
                class="exp-topcount">Exposure <a class="text-white"><strong>(<span
                            class="exp-red">{{loginExposureLimit}}</span>)
                    </strong></a></span></div>
        <div class=""><span class="head-refresh"><a id="menuRefresh" style="cursor: pointer">Refresh</a></span><a
                class="a-referesh" href="javascript:;" title="Setting"><img
                    src="../../../assets/img/transparent.gif"></a>
        </div>
        <div class="bet-setting ml-2 mr-2"><a class="a-setting" href="javascript:;" title="Setting"><img
                    src="../../../assets/img/transparent.gif"></a>
        </div>
        <div class="account-wrap-new mr-2" style="z-index: 9999;" placement="bottom right">
            <div ngbDropdown class="d-inline-block align-middle" style=" top:2px;">
                <a class="nav-link myaccnt" id="myAccountDropdown" style="cursor: pointer" ngbDropdownToggle>My
                    Account</a>
                <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="myAccountDropdown">
                    <div class="dropdown-header text-left"><strong>{{loginUserName}}</strong></div>
                    <a ngbDropdownItem [routerLink]="['/myprofile']">My Profile</a>
                    <a ngbDropdownItem [routerLink]="['/rolling-commission']">Rolling Commission</a>
                    <a ngbDropdownItem [routerLink]="['/account-statement']">Account Statement</a>
                    <a ngbDropdownItem [routerLink]="['/bet-history']">Bets History</a>
                    <a ngbDropdownItem [routerLink]="['/profit-loss']">Profit &amp; Loss</a>
                    <a ngbDropdownItem [routerLink]="['/activity-log']">Activity Log</a>
                    <a ngbDropdownItem class="drp-logout"><button type="button" class="btn btn-primary logout-btn"
                            (click)="userLogout()">LOGOUT <i aria-hidden="true"
                                class="fa fa-sign-out ml-2"></i></button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="menu-wrap">
        <div class="full-wrap">
            <ul class="tab-menu pull-left">
                <li class="ver-menu"><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
                <li class="ver-menu"><a [routerLink]="['/inplay']" routerLinkActive="active">In-Play</a></li>
                <!-- <li class="ver-menu"><a href="/user/MultiMarkets">Multi Markets</a></li> -->
                <ng-container *ngIf="pageMenu.length > 0">
                    <li class="ver-menu" *ngFor="let menu of pageMenu">
                        <a [routerLink]="['/allsport-highlight', menu.sportId]" routerLinkActive="active"
                            (click)="changeSidebarList(menu.sportId);"> {{menu.sportName}} </a>
                    </li>
                </ng-container>
            </ul>
            <div class="pull-right position-relative" *ngIf="isLoginUser">
                <app-stack-settings></app-stack-settings>
            </div>
        </div>
    </div>
</div>