<owl-carousel-o [options]="HomeSliderOptions">
    <ng-template carouselSlide><img src="./assets/img/77t20exchangetennis.jpeg" class="img-responsive" /></ng-template>
    <ng-template carouselSlide><img src="./assets/img/104cricket.jpeg" class="img-responsive" /></ng-template>
    <ng-template carouselSlide><img src="./assets/img/slider-default-slider.jpeg" class="img-responsive" /></ng-template>
</owl-carousel-o>