<div class="container">
    <div class="animated fadeIn divider-top">
        <div class="row">
            <div class="col-sm-12 col-md-12 p-mobile-0">
                <div class="card card-accent-primary">
                    <div class="card-header account-detail-head"> Account Statement </div>
                    <div class="card-body account-stat-body">
                        <div class="row">
                            <div class="col-md-12 p-mobile-0">
                                <div class="table-responsive">
                                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                                        <div class="dataTables_length" id="DataTables_Table_0_length"><label>Show
                                                <select name="DataTables_Table_0_length"
                                                    aria-controls="DataTables_Table_0" class="">
                                                    <option value="10">10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select> entries</label></div>
                                        <table class="table table-bordered dataTable no-footer" datatable=""
                                            id="DataTables_Table_0" role="grid"
                                            aria-describedby="DataTables_Table_0_info">
                                            <thead>
                                                <tr class="text-center" role="row">
                                                    <th class="sorting_asc" tabindex="0"
                                                        aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                                        aria-sort="ascending"
                                                        aria-label="Date/Time: activate to sort column descending">
                                                        Date/Time
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Deposit: activate to sort column ascending">Deposit
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Withdraw: activate to sort column ascending">
                                                        Withdraw
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Balance: activate to sort column ascending">Balance
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Remark: activate to sort column ascending">Remark
                                                    </th>
                                                    <th class="sorting_disabled" rowspan="1" colspan="1"
                                                        aria-label="From/To">From/To</th>
                                                </tr>
                                            </thead>

                                            <tbody>

                                                <tr class="text-center">
                                                    <td>28-01-2022 19:15:37</td>
                                                    <td>1,000</td>
                                                    <td><span class="minus-book">(0)</span></td>
                                                    <td>1,924</td>
                                                    <td>NA</td>
                                                    <td><span class="from">Master
                                                            <i aria-hidden="true"
                                                                class="fa fa-arrow-circle-o-right"></i></span><span
                                                            class="to ml-2">demosdd</span></td>
                                                </tr>
                                                <tr class="text-center">
                                                    <td>25-02-2022 18:55:29</td>
                                                    <td>1,366</td>
                                                    <td><span class="minus-book">(0)</span></td>
                                                    <td>2,000</td>
                                                    <td>NA</td>
                                                    <td><span class="from">Master
                                                            <i aria-hidden="true"
                                                                class="fa fa-arrow-circle-o-right"></i></span><span
                                                            class="to ml-2">demosdd</span></td>
                                                </tr>
                                                <tr class="odd">
                                                    <td valign="top" colspan="6" class="dataTables_empty">No matching
                                                        records found</td>
                                                </tr>
                                            </tbody>

                                        </table>
                                        <div class="dataTables_info" id="DataTables_Table_0_info" role="status"
                                            aria-live="polite">Showing 1 to 2 of 2 entries</div>
                                        <div class="dataTables_paginate paging_full_numbers"
                                            id="DataTables_Table_0_paginate"><a class="paginate_button first disabled"
                                                aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0"
                                                id="DataTables_Table_0_first">First</a><a
                                                class="paginate_button previous disabled"
                                                aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0"
                                                id="DataTables_Table_0_previous">Previous</a><span><a
                                                    class="paginate_button current" aria-controls="DataTables_Table_0"
                                                    data-dt-idx="2" tabindex="0">1</a></span><a
                                                class="paginate_button next disabled" aria-controls="DataTables_Table_0"
                                                data-dt-idx="3" tabindex="0" id="DataTables_Table_0_next">Next</a><a
                                                class="paginate_button last disabled" aria-controls="DataTables_Table_0"
                                                data-dt-idx="4" tabindex="0" id="DataTables_Table_0_last">Last</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>